* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

*:before *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.animation{
    animation-name: logos;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.animation2{
    animation-name: logos2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/* start section */
.section_start {
    /* min-height: 635px; */
    height: 100vh;
    background-image: url("../images/Rectangle\ 10.png"), linear-gradient(#f4f6f9 555px, transparent 555px);
    background-repeat: no-repeat;
    background-position: center;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #272727;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    background-color: #f09634;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

a:hover {
    color: #f09634;
}

a:hover:after {
    width: 100%;
}

.nav_wrapper {
    display: flex;
    z-index: 99;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.nav_container_1,
.nav_container_2 {
    display: flex;
    gap: 34px;
    justify-content: flex-start;
    align-items: center;
}

.mobile_button {
    display: none;
}

.start_main_container {
    position: absolute;
    z-index: 7;
    top: 210px;
}

.st_text{
    width: 58%;
    height: 62px;
    margin: 24px 0 34px 0;
    font-size: 18px;
    line-height: 31px;
    color: #595959;
}

.start_main_img img{
    width: 50%;
}

.btn_sign {
    width: 126px;
    height: 37px;
    background: rgba(0, 51, 255, 1);
    border-radius: 105px;
    border-style: none !important;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    /* margin-bottom: 50px; */
}

.img_persons {
    position: absolute;
    top: 0;
    right: 0;
}

.cont1_size {
    font-size: 12px;
    line-height: 12px;
}

.cont2_size {
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    cursor: pointer;
}

.cont2_btn {
    width: 109px;
    height: 32px;
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(2.5px);
    border-radius: 105px;
    cursor: pointer;
}

.headt_btn {
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    border-style: none !important;
}



/* featured in section (1)*/
.section_featured_in {
    margin: 75px 0 127px 0;
}

.section_featured_in span {
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    color: #606060;
    margin-bottom: 30px;
}

.featin_img {
    height: 54px;
    width: 100%;
    position: relative;
}


.featin_img img {
    margin: 0 45px;
    width: 148px;
    height: 64px;
    transition: transition 0.2s;
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px transparent);
}

.featin_img img:hover {
    filter: drop-shadow(0px 0px 0px #f09634);
    transform: scale(1.3);

}

.featin_img img:first-child {
    margin: 0;
}

.featin_img img:last-child {
    margin: 0;
}


/* sounds */
/* .section_sounds {

} */

.sounds_text {
    text-align: center;
}

.sounds_text .head {
    font-size: 16px;
    line-height: 19px;
    color: rgba(96, 96, 96, 0.5);
}

.sounds_text h1 {
    font-size: 48px;
    line-height: 52px;
    color: #272727;
    font-weight: 900;
}

.sounds_text > h1 > span {
    color: #0033ff;
}

.sounds_text .s_text {
    width: 38%;
    height: 53px;
    font-size: 18px;
    line-height: 31px;
    text-align: center;
    color: #958a8a;
    margin: 18px 0 34px 0 !important;
    position: relative;
    left: 400px;
}

.btnsounds {
    margin-top: 50px;
    width: 163px;
    padding: 11px 35px;
    background: #0033ff;
    border-radius: 105px;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    cursor: pointer;
    border-style: none !important;
}

.sounds_image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.sounds_image img {
    width: 60%;
    margin: 0 auto;
}

.line_backround {
background-image: url('../images//Vector\ 8.png');
}


/* plugins */
.section_plugins {
    background-image: url("../images/Rectangle-11.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
    margin-top: -250px;
    padding: 700px 0 200px 0;
}

.pl_texts{
    width: 54%;
    height: 62px;
    font-size: 18px;
    line-height: 31px;
    color: #958A8A;
}

.plugins_logos {
    position: relative;
}

.ellipse1 {
    width: 200px;
    height: 200px;
    background: #f4f6f9;
    border-radius: 50%;
    left: 120px;
    position: absolute;
    z-index: 100;
}

.ellipse1 .logo7 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url("../images/Logo\ 7.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    left: 30%;
    bottom: 75%;
}

.ellipse1 .logo9 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url("../images/Logo\ 9.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    left: 71%;
    bottom: 0%;
}

.ellipse1 .logo8 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url("../images/Logo\ 8.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    top: 58%;
    right: 68%;
}

.ellipse2 {
    width: 340px;
    height: 340px;
    background: radial-gradient(50% 50% at 50% 50%, #816fff 0%, rgba(129, 64, 155, 0) 100%);
    border-radius: 50%;
    /* bottom: -270px; */
    /* left: 50px; */
    position: absolute;
}

.ellipse3 {
    width: 486px;
    height: 486px;
    border: 3px solid rgba(126, 112, 255, 0.28);
    border-radius: 50%;
    position: absolute;
    top: -141px;
    left: -21px;
}

.ellipse3 .logo1 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url("../images/Logo\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    left: 198px;
    top: -37px;
}

.ellipse3 .logo3 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url("../images/Logo\ 3.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    left: 420px;
    top: 100px;
}

.ellipse3 .logo5 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url("../images/Logo\ 5.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    right: -20px;
    top: 320px;
}

.ellipse3 .logo6 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url("../images/Logo\ 6.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    bottom: -50px;
    left: 198px;
}

.ellipse3 .logo4 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url("../images/Logo\ 4.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    top: 100px;
    left: -20px;
}

.ellipse3 .logo2 {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url("../images/Logo\ 2.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    bottom: 70px;
    left: -10px;
}

.plugins_text {
    text-align: left;
    /* position: relative; */
    left: 200px;
}

.plugins_text span {
    font-size: 16px;
    line-height: 19px;
    color: rgba(96, 96, 96, 0.5);
}

.plugins_text h1 {
    font-size: 48px;
    line-height: 108%;
    font-weight: 900;
}

.plugins_text h1 > p{
    color: rgba(0, 51, 255, 1);
}

.plugins_btn .btnplugins {
    width: 163px;
    height: 37px;
    background: #0033ff;
    border-radius: 105px;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    cursor: pointer;
    border-style: none !important;
}



/* studio */

.section_studio {
    padding: 150px 0 00px 0;
}

/* .studio_texts {
    margin-left: 70px;
} */

.studio_texts > span {
    font-size: 16px;
    line-height: 19px;
    color: rgba(96, 96, 96, 0.5);
}

.studio_texts h1 {
    font-size: 48px;
    line-height: 108%;
    font-weight: 900;
}

.stud_text {
    width: 54%;
    height: 62px;
    font-size: 18px;
    line-height: 31px;
    color: #958A8A;
}

.studio_texts h1 span {
    color: rgba(0, 51, 255, 1);
}

.studio_image img {
    width: 100%;
}

.btnstudio {
    width: 163px;
    height: 37px;
    background: #0033ff;
    border-radius: 105px;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    cursor: pointer;
    border-style: none !important;
}



/* creators and sounds */

.creators_and_sounds {
    min-height: 100vh;
    padding: 200px 0;
    background-position: center;
    background-image: url("../images/Mask\ Group.png"), linear-gradient(#0c0c0c 1590px, transparent 1500px);
    background-repeat: no-repeat;
    position: relative;
    z-index: -100;
    margin-top: 100px;
}

.creators_text {
    z-index: 100;
}

.creators_text h1 {
    font-size: 48px;
    line-height: 108%;
    font-weight: 900;
    color: #ffffff;
}

.creators_text h1 > span{
    color: rgba(0, 51, 255, 1);
}

.crt_text{
    width: 55%;
    height: 93px;
    font-size: 18px;
    line-height: 31px;
    color: #958a8a;
}

.creators_btn .btncreators {
    position: absolute;
    width: 154px;
    height: 37px;
    background: #0033ff;
    border-radius: 105px;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    cursor: pointer;
    border-style: none !important;
    z-index: 100;
    position: absolute;
    margin-right: 20px;
}

.cards img {
    position: absolute;
    top: -185px;
    right: 0px;
    z-index: 100;
}

.card1 {
    position: absolute;
    width: 290px;
    height: 216px;
    background-image: url("../images/Group\ 14.png");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 79%;
    left: 48%;
    z-index: 100;
}

.card2 {
    position: absolute;
    width: 290px;
    height: 216px;
    background-image: url("../images/Group\ 15.png");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 79%;
    left: 69%;
    z-index: 100;
}

.card3 {
    position: absolute;
    width: 290px;
    height: 216px;
    background-image: url("../images/Group\ 16.png");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 64%;
    left: 53%;
    z-index: 100;
}

.card4 {
    position: absolute;
    width: 290px;
    height: 216px;
    background-image: url("../images/Group\ 17.png");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 64%;
    left: 74%;
    z-index: 100;
}

/* .card1,
.card2,
.card3,
.card4:hover{

} */

.good_sounds_section {
    margin-top: 20%;
}

.good_sounds_section h1 {
    text-align: center;
    font-size: 38px;
    line-height: 108%;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 120px;
}

/* .sounds_cards {
    display: flex;
    justify-content: flex-start;
    margin-top: 150px;
    gap: 120px;
} */

.good_sounds_section img {
    width: 40px;
    height: 40px;
}

.good_sounds_section h3 {
    font-size: 22px;
    line-height: 108%;
    color: #ffffff;
    font-weight: 700;
    margin-top: 20px;
}

.good_sounds_section p {
    font-size: 16px;
    line-height: 171%;
    color: #958a8a;
}

/* JOB AT SPLICE */

.section_jas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.jas_container {
    /* width: 1280px; */
    /* height: 230px; */
    padding: 43px 0;
    background: linear-gradient(95.31deg, #a659ff -28.73%, #7178ff 23.23%, #2148ff 62.74%, #ff3517 111.77%);
    border-radius: 22px;
    margin-bottom: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jas_container h2 {
    font-size: 36px;
    line-height: 108%;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
}

.button_jas .jasbtn {
    width: 184px;
    height: 50px;
    border: 1px solid #ffffff;
    border-radius: 105px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(2.5px);
    color: #ffffff;
    border-style: none !important;
    cursor: pointer;
}



/* footer */


.footer {
    position: relative;
    bottom: 100px;
}

.footer h4 {
    font-size: 15px;
    line-height: 18px;
    font-weight: 800;
    cursor: pointer;
    transform: transition 0.1s;
}

.footer h4:hover{
    transform: scaleX(1.2);
}

.footer p {
    font-size: 13px;
    line-height: 19px;
    cursor: pointer;
    transform: transition 0.2s;
}

.footer p:hover{
    transform: scaleY(1.2);
    color: #f09634;
}








button {
    transition: transform 0.3s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2);
}













@keyframes logos {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes logos2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
