@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.animation{
    animation-name: logos;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.animation2{
    animation-name: logos2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/* start section */

.section_start {
    height: 99vh;
    background-image: url('../images/Rectangle-10.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav_wrapper {
    display: flex;
    z-index: 99;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.nav_container_1,
.nav_container_2 {
    display: flex;
    gap: 34px;
    justify-content: flex-start;
    align-items: center;
}

.start_main_container {
    position: absolute;
    top: 210px;
}

.start_main_container>img {
    max-width: 420px;
}

.start_main_container>p {
    margin: 24px 0 34px 0;
}

.btn_sign {
    padding: 11px 35px;
    background: rgba(0, 51, 255, 1);
    color: #fff;
    border-radius: 105px;
    border-style: none !important;
}

.img_persons {
    position: absolute;
    top: 0;
    right: 0;
}


.cont1_size{
    font-size: 12px;
    line-height: 12px;
}

.cont2_size{
    font-size: 12px;
    line-height: 12px;
    color: #fff;
}

.cont2_btn{
    width: 109px;
    height: 32px;
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(2.5px);
    border-radius: 105px;
    cursor: pointer;
}

.cont2_size2 a{
    margin-left: 35px;
    top: 10px;
    position: relative;
}


/* featured in section */

.section_featured_in{
    height: 20vh;
    margin-top: 10vh;
}

.featin_cont{
    text-align: center;
}

.featin_cont span{
    font-size: 13px;
    line-height: 15px;
    color: #606060;
}

.featin_img{
    display: flex;
    justify-content: center;
}

.featin_img img{
    width: 10%;
    height: auto;
    margin: 40px;
    mix-blend-mode: normal;
    cursor: pointer;
}

/* sounds */


.section_sounds{
    height: 30vh;
}

.sounds_container{
    text-align: center;
    margin-top: 10vh;
}

.sounds_container .head{
    font-size: 16px;
    line-height: 19px;
    color: rgba(96, 96, 96, 0.5);
}

.sounds_container h1{
    font-size: 48px;
    line-height: 108%;
    color: #272727;
    font-weight: 900;
}

.colortext{
    color: #0033ff;
}

.sounds_container .s_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #958A8A;
    margin-top: 4vh;
}

.sounds_btn .btnsounds{ 
    width: 163px;
    height: 37px;
    background: #0033FF;
    border-radius: 105px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    cursor: pointer;
}


.sounds_image{
    height: 50vh;
    background-image: url('../images/Vector\ 8.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin-top: 10vh;
}


/* plugins */

.section_plugins{
    height: 140vh;
    background-image: url('../images/Rectangle-11.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
    margin-top: 460px;
}

.plugins_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plugins_logos{
    margin-top: 400px;
    margin-left: 100px;
    position: relative;
}

.ellipse1{
    width: 200px;
    height: 200px;
    background: #f4f6f9;
    border-radius: 50%;
    /* border: 1px solid black; */
    left: 120px;
    position: absolute;
    z-index: 100;
}

.ellipse1 .logo7{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url('../images/Logo\ 7.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    left: 60px;
    top: -32px;
    

}

.ellipse1 .logo9{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url('../images/Logo\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    left: 145px;
    bottom: 0px;
}

.ellipse1 .logo8{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url('../images/Logo\ 8.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    top: 115px;
    left: -25px;
}


.ellipse2{
    width: 340px;
    height: 340px;
    background: radial-gradient(50% 50% at 50% 50%, #816FFF 0%, rgba(129, 64, 155, 0) 100%);
    border-radius: 50%;
    /* border: 1px solid black; */
    bottom: -270px;
    left: 50px;
    position: absolute;
}

.ellipse3{
    width: 486px;
    height: 486px;
    border: 3px solid rgba(126, 112, 255, 0.28);
    border-radius: 50%;
    position: absolute;
    top: -141px;
    left: -21px;
}

.ellipse3 .logo1{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url('../images/Logo\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    left: 198px;
    top: -37px;
}

.ellipse3 .logo3{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url('../images/Logo\ 3.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    left: 420px;
    top: 100px;
}

.ellipse3 .logo5{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url('../images/Logo\ 5.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    right: -20px;
    top: 320px;
}

.ellipse3 .logo6{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url('../images/Logo\ 6.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    bottom: -50px;
    left: 198px;
}

.ellipse3 .logo4{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url('../images/Logo\ 4.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    top: 100px;
    left: -20px;
}

.ellipse3 .logo2{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-image: url('../images/Logo\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
    position: absolute;
    bottom: 70px;
    left: -10px;
}

.plugins_text{
    margin-top: 480px;
    margin-right: 100px;
}

.plugins_text span{
    font-size: 16px;
    line-height: 19px;
    color: rgba(96, 96, 96, 0.5);
}

.plugins_text h1{
    font-size: 48px;
    line-height: 108%;
    font-weight: 900;
}

.plugins_text p{
    font-size: 18px;
    line-height: 171%;
    color: #958A8A;
}

.plugins_btn .btnplugins{
    width: 163px;
    height: 37px;
    background: #0033FF;
    border-radius: 105px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    cursor: pointer
}


/* studio */

























@keyframes logos{
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes logos2{
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}