@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}


/* start section */

.section_start {
    height: 99vh;
    background-image: url('../images/Rectangle-10.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav_wrapper {
    display: flex;
    z-index: 99;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

.nav_container_1,
.nav_container_2 {
    display: flex;
    gap: 34px;
    justify-content: flex-start;
    align-items: center;
}

.start_main_container {
    position: absolute;
    top: 210px;
}

.start_main_container>img {
    max-width: 420px;
}

.start_main_container>p {
    margin: 24px 0 34px 0;
}

.btn_sign {
    padding: 11px 35px;
    background: rgba(0, 51, 255, 1);
    color: #fff;
    border-radius: 105px;
    border-style: none !important;
}

.img_persons {
    position: absolute;
    top: 0;
    right: 0;
}

.btn-signup{
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(2.5px);
    border-radius: 105px;
}

.cont1_size{
    font-size: 12px;
    line-height: 12px;
}

.cont2_size{
    font-size: 12px;
    line-height: 12px;
    color: #fff;
}

.cont2_btn{
    width: 109px;
    height: 32px;
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(2.5px);
    border-radius: 105px;
    cursor: pointer;
}

.cont2_size2 a{
    margin-left: 35px;
    top: 10px;
    position: relative;
}


/* featured in section */

.section_featured_in{
    height: 20vh;
    margin-top: 10vh;
}

.featin_cont{
    text-align: center;
}

.featin_cont span{
    font-size: 13px;
    line-height: 15px;
    color: #606060;
}

.featin_img{
    display: flex;
    justify-content: center;
}

.featin_img img{
    width: 10%;
    height: auto;
    margin: 40px;
    mix-blend-mode: normal;
    cursor: pointer;
}

/* sounds */


.section_sounds{
    height: 30vh;
}

.sounds_container{
    text-align: center;
    margin-top: 10vh;
}

.sounds_container .head{
    font-size: 16px;
    line-height: 19px;
    color: rgba(96, 96, 96, 0.5);
}

.sounds_container h1{
    font-size: 48px;
    line-height: 108%;
    color: #272727;
    font-weight: 900;
}

.sounds_container .colortext{
    color: #0033ff;
}

.sounds_container .s_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: #958A8A;
    margin-top: 4vh;
}

.sounds_btn .btnsounds{ 
    width: 163px;
    height: 37px;
    background: #0033FF;
    border-radius: 105px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    cursor: pointer;
}

.sounds_image{
    height: 50vh;
    background-image: url('../images/Vector\ 8.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin-top: 10vh;
}